TELEGRAM_BOT_TOKEN=
GROQ_API_KEY=

# Your numeric Telegram User ID. This is a security measure to ensure only you can run commands.
MY_TELEGRAM_ID=

# Firebase Credentials
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
