# Azure secrets template
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=
AZURE_CONTAINER_REGISTRY=
AZURE_APP_SERVICE=
# Add any other secrets needed by your services
